.sidebarRow {
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.sidebarRow__icon {
  color: #606060;
  font-size: large !important;
}

.sidebarRow__title {
  flex: 1;
  margin-left: 20px;
  font-size: 14px;
  font-weight: 500;
}

.sidebarRow:hover {
  background-color: lightgray;
  cursor: pointer;
}
